{% extends "layout/basic.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'styles/users.css' %}">
{% endblock %}

{% block content %}
<div class="photos">
    {% for photo in photos %}
        <div class="photo">
            <div class="photo-desc">
            <p><a href="{% url 'api_like' photo.pk %}">Likes</a>: {{photo.likes}}</p>
            <p><a href="{% url 'api_dislike' photo.pk %}">Dislikes</a>: {{photo.dislikes}}</p>
            <p>Text: {{photo.text}}</p></div>
            <div class='filter-div' style="background-image: url('{{ photo.source }}'); width: 250px; height: 250px; background-size: cover; text-align: center;"></div>
            <p><a href="{% url 'comments' photo.pk %}">Comments</a></p>
        
    {% endfor %}
</div>
</div>
{% endblock %}