{% extends "layout/basic.html" %}
{% load static %}

{% block links %}
{% endblock %}

{% block content %}
<div class="post-photo-div">

   <form action="" method="post" enctype="multipart/form-data">
      <h3>Post Photo</h3>
      
      <input type="file" name="file">
      <textarea name="text" cols="30" rows="10"></textarea>
      <h5>Choose Filter:</h5>
      <div style="display: flex;">
        {% for filter_image in filter_images %}
        <div class='filter-div' style="width: 120px; height: 120px; background-image: url('{% static filter_image.0 %}'); background-size: cover; text-align: center;">
            <b>{{filter_image.1}}</b>
        </div>
        {% endfor %}
    </div>
      <select name="filter">
        {% for filter in filters %}
        <option value="{{filter.1}}">{{filter}}</option>
        {% endfor %}
      </select>
      <input type="submit" name="submit" value="Next" class="form-btn">

      {% csrf_token %}
   </form>
</div>
</div>
{% endblock %}